$brand-color:                   #00acc1;

$bottom-menu-bg-color:          #00acc1;
$bottom-menu-active-bg-color:   rgba(#00acc1, 0.8);

$slider-active-bg-color:        rgb(185, 251, 169);
$slider-passive-bg-color:       rgba(185, 251, 169, 0.2);

$remove-btn-color:              rgba(#00acc1, 0.5);

$header-hover-color:            rgba(#00acc1, 0.8);

$submit-bg-color:               white;

$logo-size:                     1.5em;
$account-size:					0.9em;
$buttons-size:                  1.1em;


// $body-back-color:               hsla(204, 15, 94, 0.2);
// $text-main-color:               #424242;

// $brand-color:                   #ff8a66;
// $brand-color-bright:            hsl(55, 100%, 95%);
// $brand-color-transparent:       hsl(15, 100%, 73%);

// $navigation-color:              white;
// $navigation-color-active:       #00acc1; //rgb(223, 243, 245);//#fffde7;

// $content-back-color:            white;

// $button-back-color:             white;

// $second-color:                  #00acc1;            //rgb(229, 252, 224);
// $second-color-bright:           rgba(#00acc1, 0.1); //hsla(108, 87%, 50%, 0.3);

// $slider-active-color:           #00acc1;//rgb(185, 251, 169);
// $slider-passive-color:          rgba(#00acc1, 0.1);//rgb(229, 252, 224);

// $text-brand-color:              #fff3e0;
// $header-hover-color:            #e65100;
// $landing-title-color:           #00acc1;

// $main-font:                     "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Times New Roman", sans-serif;

// $promo-size:                    2.5em;
// $big-title-size:                2em;
// $medium-title-size:             1.6em;
// $logo-size:                     1.5em;
// $big-text-size:                 1.4em;
// $medium-text-size:              1.2em;
// $buttons-size:                  1.1em;