@import './_variables';


%button-style {
    padding: 10px 20px;
    margin-top: 5px;
    height: auto;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: $submit-bg-color;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}
%button-style-hover {
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    color: $brand-color;
}

form {

    div[id*='div_id']{
        margin-bottom: 10px;

        input {
            border: none;
            border-bottom: 1px solid lightgrey;
            height: 30px;
        }
    }

    button {
        @extend %button-style;
    }
    button:hover {
        @extend %button-style-hover;
    }
}


.login {

    div {
        padding-top: 20px;

        input {
            border: none;
            border-bottom: 1px solid lightgrey;
            height: 30px;
        }
        #id_username,
        #id_password {
            width: 50%;
        }
    }
    .btns {
        display: flex;
        
        .submit, .signup-btn {
            @extend %button-style;
            margin-right: 10px;
        }
        .submit:hover, .signup-btn:hover {
            @extend %button-style-hover;
        }
    }
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        cursor: pointer;
        color: $brand-color;
    }
}
