<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <div id="brand-logo"><a href="/"> Todo list </a></div>
    <div class="account">
        {% if user.is_authenticated %}
            <div> {{user}} </div>
            <div><a href="{% url 'logout' %}"> Log Out </a></div>
        {% else %}
            <div><a href="{% url 'login' %}"> Log In </a></div>
            <div><a href="{% url 'signup_page' %}"> Sign Up </a></div>
        {% endif %}
    </div>
</header>
<main>
    {% block content %}{% endblock %}

</body>
</html>
